doctype html
html(lang='en')
  head
    // Required meta tags
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    title Unplug - The mental health self help platform
    meta(name='description', content='Unplug is the mental health self help platform')
    // Google font
    link(href='https://fonts.googleapis.com/css?family=K2D:300,400,500,700,800', rel='stylesheet')
    // Bootstrap CSS / Color Scheme
    link(rel='stylesheet', href='css/bootstrap.css')
  body
    // Header Section
    section.bg-gradient.pt-5.pb-6
      .container
        .row
          .col-12.d-flex.flex-row.align-items-center.justify-content-between
            .heading-brand Unplug
            a.btn.btn-dark(href='/', target='_blank') Talk to us.
        .row.mt-6
          .col-md-8.mx-auto.text-center
            h1 Mood Graphs
            p.lead.mb-5
              | Understanding your moods helps you manage them and feel better faster.
              | If you are more aware of your moods, you may be able to better manage your lifestyle choices,
              | make informed health decisions, prevent or avoid triggers of negative moods, and work towards a better quality of life.
        .row.mt-5
          .col-md-9.mx-auto
            .code-window
              .dots
                .red
                .orange
                .green
              br
              form(action="/", method="POST")
                div.form-group
                  label(for="feeling")
                    h3 What are you thinking today?
                  input.form-control(name="feeling", type="text", id="feeling", placeholder="Enter your thoughts")
                button.btn.btn-success.svg-icon(type="submit")
                  em.mr-2(data-feather='send')
                  | Log in Mood Graph
    // Features Section
    section.py-6
      .container
        .row
          .col-md-8.mx-auto
            h2.text-center.text-md-left
              | Your Mood Graph for 
              span.text-success April 2021
            p.lead.text-muted How were you feeling this month?
            div
              canvas(id="myChart")
            script(src="javascripts/chart.js")
            script.
              current = !{JSON.stringify(current)};
              while(current.length < 30) current.push("Unknown");
              console.log(current);

              const data = {
                datasets: [{
                  label: 'Mood Graph',
                  hoverOffset: 4
                }],
              }

              dataArray = []
              colourArray = []
              labelArray = []
              date = 1

              //background #282C34
              feelingColours = {
                "Joy": "#98c379",
                "Sadness": "#61afef",
                "Anger": "#e06c75",
                "Fear": "#e5c07b",
                "Unknown": "#abb2bf",
              }

              for(const feeling of current){
                dataArray.push(1);
                colourArray.push(feelingColours[feeling]);
                labelArray.push(date.toString() + "/4/2021");
                date += 1;
              }
              data.labels = labelArray;
              data.datasets[0].data = dataArray;
              data.datasets[0].backgroundColor = colourArray;
              
              const config = {
                type: 'doughnut',
                data: data,
                options: { 
                  responsive: false,
                  plugins: {
                    legend: {
                      display: false,
                    },
                  },
                  animation: {
                    animateScale: true,
                  }
                },
                borderAlign: "center",
              };
              window.onload = function(){
                var myChart = new Chart(
                  document.getElementById('myChart'),
                  config
                );
                document.getElementById('myChart').style.margin = "auto";
              }
            .row.feature-grid
              .col-sm-12
                if locals.failed
                  p.lead.text-muted Unable to identify emotions!
                else
                  p.lead.text-muted Your thoughts indicated that you were feeling #{feeling}.
              .col-sm-6
                .media
                  .icon-box
                    .icon-box-inner
                      span(data-feather='smile', width='28', height='28', color="#98c379")
                  .media-body
                    | Joy
              .col-sm-6
                .media
                  .icon-box
                    .icon-box-inner
                      span(data-feather='frown', width='28', height='28', color="#61afef")
                  .media-body
                    | Sadness
              .col-sm-6
                .media
                  .icon-box
                    .icon-box-inner
                      span(data-feather='frown', width='28', height='28', color="#e06c75")
                  .media-body
                    | Anger
              .col-sm-6
                .media
                  .icon-box
                    .icon-box-inner
                      span(data-feather='meh', width='28', height='28', color='#e5c07b')
                  .media-body
                    | Fear
              .col-sm-6
                .media
                  .icon-box
                    .icon-box-inner
                      span(data-feather='meh', width='28', height='28', color='#abb2bf')
                  .media-body
                    | Unknown
    // Used By Section
    section.pb-6
      .container
        .row
          .col-md-8.mx-auto
            h2.text-center.text-md-left Insights
            p.lead.text-muted What does your mood graph show?
            ul
              li You've been feeling angry lately. Are there problems to be taken care of?
              li You've been feeling sad lately. You can try various activities to take your mind off the problems you face.
    section.pb-6
      .container
        .row
          .col-md-8.mx-auto
            h2.text-center.text-md-left Recommended Resources
            p.lead.text-muted External resources to aid you
            ul
              li
                a.btn.btn-light(href='https://www.youtube.com/watch?v=SEfs5TJZ6Nk', target='_blank') 3-minute Mindful Breathing Meditation (Relieve Stress)
              li
                a.btn.btn-light(href='https://donothing.uk/', target='_blank') Mindfulness Resources for young people
              li
                a.btn.btn-light(href='https://www.youtube.com/playlist?list=PLsitozOnbmNOtNc18eeC6hZARCTGOyGeM', target='_blank') Mindfulness Practices with Gill Johnson
    section.pb-6
      .container
        .row
          .col-md-8.mx-auto
            h2.text-center.text-md-left Quote of the Day:
            h1.text-center.text-md-left When the going gets tough, the tough get going.
            p.lead.text-muted - Joseph P. Kennedy
    // footer
    footer.py-5.bg-light
      .container
        .row
          .col-12.text-center
            ul.list-inline
              li.list-inline-item
                a(href='/') Mood Graph
              li.list-inline-item
                a(href='/users') Find Help
              li.list-inline-item
                a(href='/') About
        .row.my-2
          .col-md-4.mx-auto.text-muted.text-center.small-xl
            | © 2021 Unplug - All Rights Reserved
    // jQuery first, then Popper.js, then Bootstrap JS
    script(src='https://code.jquery.com/jquery-3.2.1.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.28.0/feather.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/prism/1.15.0/prism.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/prism/1.15.0/plugins/line-numbers/prism-line-numbers.min.js')
    script(src='js/scripts.js')